body {
    background-image: url('pexels-jaymantri-5439.jpg');
    background-attachment: fixed;
    background-size: cover;
    max-width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 0;
}

.flex_container {
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
padding: 10vw; 
color: aliceblue;

}

.box{
    width: 25vw;
    border: 2px solid white;
    padding: 10px;
    background-color: rgb(101, 168, 240);
    color: aliceblue;

}

.projekt-1{
    display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
padding: 10vw; 
color: aliceblue;
}

.hem{
    
    width: 25vw;
    border: 2px solid white;
    padding: 10px;
    background-color: rgb(101, 168, 240);
    color: aliceblue;

}
